<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1" thread-count="8" parallel="tests">

    <listeners>
        <listener class-name="utils.ListenerClass"/>
        <listener class-name="utils.RetryListenerClass"/>
    </listeners>

    <test name="CHROME" thread-count="4" parallel="classes">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="testcases.MiroTest"/>
            <class name="testcases.MiroTest1"/>

        </classes>
    </test>
    <test name="FIREFOX" thread-count="4" parallel="classes">
        <parameter name="browser" value="FIREFOX"/>
        <classes>
            <class name="testcases.MiroTest"/>
            <class name="testcases.MiroTest1"/>

        </classes>
    </test>


</suite>